.background-auth {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#container {
    width: 100%;
    background-color: var(--miz-red-bg);
}

select option {
    color: var(--miz-text);
}

select:invalid {
    color: var(--miz-text-grey);
}

.bottom-text {
    font-size: 0.85rem;
}

@media (min-width: 768px) {
    .background-auth {
        background-image: url("../images/login-background.jpg");
    }

    #container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    #container {
        width: 40%;
    }
}
